template(name='event_view')
    with current_doc
        .ui.stackable.padded.grid
            .middle.aligned.row 
                .sixteen.wide.column
                    if currentUser
                        a.ui.circular.big.icon.button.fly_left(href="/events")
                            i.chevron.left.large.icon
                            +i name='calendar'
                    .ui.large.inline.header #{title}
                    // div
                    if can_edit
                        if published 
                            i.big.eye.green.icon(title='published')
                        else 
                            i.big.eye.red.slash.icon(title='unpublished')
                    // div
                    // .ui.inline.header {{medium_date date}}
                    .ui.inline.header {{long_date start_datetime}}
                    // .ui.inline.grey.header {{from_now date}}
                    if time 
                        .ui.inline.grey.header {{time}}
                    if can_edit
                        a.edit_event.fly_left(href="/event/#{_id}/edit" title='edit')
                            i.large.blue.link.pencil.circular.icon
            .three.column.row 
                .column
                    if location 
                        i.large.marker.icon(title='location')
                        |#{location}
                    a(href="{{c.url image_id }}")
                        img.ui.fluid.rounded.image(src="{{c.url image_id }}" class=currentUser.invert_class)
                    .spacer
                    // a(href="/m/room/#{event_room._id}/view")
                    //     img.ui.small.circular.inline.image.pointer.zoom(src="{{c.url event_room.image_id }}" class=currentUser.invert_class)
                    //     .ui.inline.header.pointer.zoom
                    //         |#{event_room.title}
                    // if is_admin
                    .ui.segment
                        .ui.header 
                            i.shield.icon
                            | author
                        a.ui.header(href="/user/#{_author.username}") 
                            img.ui.avatar.image(src="{{c.url _author.image_id height=200 width=200 gravity='face' crop='fill'}}" class=currentUser.invert_class)
                            |#{_author.name}
                    if host
                        .ui.dividing.header 
                            i.chess.king.grey.icon
                            |host
                        a.ui.header(href="/user/#{fac.username}") 
                            img.ui.avatar.image(src="{{c.url fac.image_id height=200 width=200 gravity='face' crop='fill'}}" class=currentUser.invert_class)
                            |#{fac.name}
                    if support
                        .ui.dividing.header 
                            i.chess.queen.grey.icon
                            |support
                        a.ui.header(href="/user/#{support.username}") 
                            img.ui.avatar.image(src="{{c.url support.image_id height=200 width=200 gravity='face' crop='fill'}}" class=currentUser.invert_class)
                            |#{support.name}
                .column
                    if is_admin
                        .ui.header
                            |#{max_attendees} max attendees
                    // .ui.small.grey.header 
                    //     i.line.chart.icon
                    //     |stats
                    .ui.small.header #{views} views
                    each viewers
                        .ui.label #{username}
                    with current_doc
                        +gcal_button
                    .ui.hidden.divider
                    +array_view key='tags' label='tags' icon='tags red' direct=true
                    div
                    if currentUser
                        +voting_full
                    +array_view key='location_tags' label='location tags' icon='marker' direct=true
                    +rsvp
                .column
                    // a.ui.header(href="/user/#{target.username}")
                    //     |#{target.username}
                    // .scrolling
                    |!{description}
                    // div 
                    // .spacer
                    // .spacer
                    +comments
