template(name='user_layout')
    // img.ui.fluid.image.checkin_banner(src="{{c.url 'cafe'}}")
    +nav
    // .ui.bottom.attached.pushable.segment
    //     +topbar
    //     +left_sidebar
    //     +right_sidebar
    //     +cartbar
    //     +walletbar
    #main_area.global_container.pusher.scrollin
        with user_from_username_param
            .ui.stackable.padded.grid
                .row
                    //- img.ui.image.checkin_banner(src="{{c.url banner_image width=1000 height=1000 crop='crop'}}")
                    .four.wide.column.scrolling
                        a.ui.fluid.button.fly_left(href='/users')
                            i.chevron.left.icon
                            |users
                        a.item(href="/user/#{user_from_username_param.username}")
                            img.ui.circular.image(src="{{c.url image_id height=300 width=300 gravity='face' crop='fill'}}")
                        // .spacer
                        // a(href="/user/#{username}")
                        .ui.center.aligned.header
                            // strong #{name}
                            // strong #{user.first_name} #{user.last_name}
                            | @#{user.username}        
                        a.ui.center.aligned.inline.header.mobile.hidden(href="/user/#{user_from_username_param.username}/credit" title='credit')
                            |#{user.points}p
                        .ui.two.column.middle.aligned.grid.mobile.only
                            // .column
                            //     img.ui.small.inline.image.mobile.only(src="{{c.url image_id height=300 width=300 gravity='face' crop='fill'}}")
                            .column
                                .ui.inline.header
                                    strong #{user.name}
                                    //- small @#{user.username}        
                                a.ui.inline.header(href="/user/#{user_from_username_param.username}/credit" title='credit')
                                    +i name='coins'
                                    |#{user.points}p
                        if is_current_user
                            a.ui.circular.button(href="/user/#{user_from_username_param.username}/edit" title='profile settings')
                                i.cog.icon
                                |edit profile
                        else if is_admin
                            a.ui.circular.button(href="/user/#{user_from_username_param.username}/edit" title='profile settings')
                                +i name='settings' cl='ui avatar image'
                                |edit profile
                        // unless is_current_user
                        //     +friend_button
                        if is_current_user
                            .ui.button.logout
                                i.sign.out.alternate.icon
                                |log out
                        if admin
                            .ui.header
                                i.shield.icon
                                |admin
                        +array_view key='roles' label='roles' direct=true icon='shield'
                        a.ui.button.logout_other_clients(href="#" title='logout other clients')
                            i.globe.icon
                            |log out other clients
                        if link 
                            a.ui.button(href=link target='_window')
                                |app link
                    .twelve.wide.column.scrolling
                        div.global_container
                            .spacer
                            +yield
    


template(name='user_dashboard')
    .ui.two.stackable.cards
        .ui.card
            .content
                +user_credit
        .ui.card
            .content
                +user_orders
        +user_subscriptions   
        +user_friends

              
template(name='user_friends')
    .ui.card
        .content
            .ui.header 
                i.large.handshake.icon
                // +i name='friends'
                |friends
            // .ui.input
            //     i.plus.icon
            //     input.search_friend(type='text' placeholder='add by username...')
            +multi_user_edit key='friend_ids' label='friends' direct=true
            each friend_search_results
                .ui.header #{username}
            each user_friends
                .item #{username}

template(name='user_subscriptions')              
    .ui.card
        .content
            // a.header(href="/user/#{username}/subscriptions")
            .ui.header
                // +i name='clock' cl='ui avatar image'
                i.large.clock.icon
                |subscriptions
            each user_subs
                .ui.header #{when}
                    
                    
                    
                    
        
        
template(name='user_credit')
    .ui.stackable.one.column.padded.grid
        if is_current_user
            .column
                .ui.inline.header
                    // i.money.icon
                    +i name='money'
                    |{{user_from_username_param.points}}
                    |points
                .ui.big.compact.button.send_points
                    +i name='donate'
                    |send points
                a.ui.big.button(href="/transfers")
                    +i name='exchange'
                    // i.exchange.icon
                    |transfers
                // .ui.inline.header 
                //     // i.shield.icon
                //     +i name='shield'
                //     |admin
                .ui.big.icon.button.add_credit(title='add credit')
                    |+1
                // // +number_edit key='credit' label='edit credit' min='0' step='1' max='1000' direct=true
                // .ui.big.icon.button.remove_credit(title='remove credit')
                //     |-1
                +topup_button amount=10
                +topup_button amount=20
                +topup_button amount=100
                // |includes 2% credit card processing fee
                // .ui.action.input
                //     input.deposit_amount(type='number' min='1' placeholder='deposit')
                //     .ui.icon.button.add_credits   
                //         i.right.chevron.icon
                        
                .ui.large.bulleted.list.smallscroll
                    each topups
                        .item 
                            .content
                                .header 
                                    |$#{amount}
                                .description 
                                    |#{when} {{long_date _timestamp}}
                                    //- if is_dev
                                    +remove_button        