template(name='profile')
    with current_user
        if background_image_id
            img.ui.image.checkin_banner(src="{{c.url background_image_id height=1000 crop='crop'}}")
        else 
            img.ui.image.checkin_banner(src="{{c.url image_id height=1000 crop='crop'}}")
        .ui.stackable.padded.grid
            .row
                .four.wide.column.scrolling
                    a.ui.fluid.large.circular.basic.button.fly_left(href='/users' title='back to users')
                        i.chevron.left.icon
                        +i name='groups'
                        // |users
                    // a.item(href="/user/#{current_user.username}")
                    img.ui.circular.centered.image.pointer.boop(src="{{c.url image_id height=400 width=400 gravity='face' crop='fill'}}")
                    // .spacer
                    // a(href="/user/#{username}")
                    .ui.center.aligned.header
                        // strong #{name}
                        strong #{first_name} #{last_name}
                        | @#{username}        
                    .ui.two.column.middle.aligned.grid
                        // .column
                        //     img.ui.small.inline.image.mobile.only(src="{{c.url image_id height=300 width=300 gravity='face' crop='fill'}}")
                        .column
                            .ui.inline.header
                                strong #{name}
                                //- small @#{user.username}  
                            if points
                                a.ui.inline.header(href="/user/#{username}/credit" title='credit')
                                    +i name='coins'
                                    |#{points}p
                            if boops
                                .ui.header(title='boops')
                                    +i name='tap-gesture'
                                    |#{boops}
                    if is_current_user
                        a.ui.circular.icon.compact.large.button(href="/user/#{current_user.username}/edit" title='profile settings')
                            i.cog.icon
                            // |edit profile
                    else if is_admin
                        a.ui.circular.icon.compact.large.button(href="/user/#{current_user.username}/edit" title='profile settings')
                            +i name='settings' cl='ui avatar image'
                            // |edit profile
                    // unless is_current_user
                    //     +friend_button
                    if is_current_user
                        .ui.large.compact.button.logout
                            // i.sign.out.alternate.icon
                            // i.sign.out.alternate.icon
                            +i name='exit'
                            // |log out
                    if currentUser.admin
                        .ui.header
                            +i name='shield'
                            // i.shield.icon
                            // |admin
                    +array_view key='roles' label='roles' direct=true icon='shield'
                    +array_view key='tags' label='tags' direct=true icon='tags'
                    if is_current_user
                        a.ui.button.logout_other_clients(href="#" title='logout other clients')
                            // i.globe.icon
                            +i name='globe'
                            |log out other clients
                    if link 
                        a.ui.button(href=link target='_window')
                            i.external.icon
                            |link
                    if is_current_user
                        +boolean_edit key='online' label='online' direct=true
                        +text_edit key='current_status' label='status' icon='clock' direct=true
                    else 
                        if online 
                            .ui.green.large.label 
                                i.large.checkmark.icon
                                |online
                        else
                            .ui.disabled.large.label 
                                |offline
                        if current_status
                            .ui.small.header(title='status' )
                                i.grey.clock.icon
                                |!{current_status}
                    if is_dev
                        .ui.small.inline.header #{_id}
                            
                .twelve.wide.column.scrolling
                    .ui.stackable.grid
                        // .spacer
                        .eight.wide.column
                            a.ui.inline.header.zoomer(href="/groups")
                                +icolor name='campfire'
                                |groups
                            .ui.header
                                // i.king.icon
                                +i name='king'
                                |leader of
                            each user_leader_groups
                                .ui.segment
                                    a.ui.header(href="/m/group/#{_id}") #{title}
                                    if is_current_user
                                        +enter_group
                            .ui.header 
                                // i.users.icon
                                +i name='groups'
                                |member of
                            each groups
                                +profile_group_item
                                    
                        .eight.wide.column
                            .medscroll
                                .ui.header 
                                    +i name='ticket'
                                    |tickets
                                each user_event_tickets
                                    .ui.card
                                        if ticket_event.image_id
                                            a(href="/event/#{event_id}")
                                                img.ui.fluid.zoom.image(src="{{c.url ticket_event.image_id height=200 width=200 crop='fit'}}" class=currentUser.invert_class)
                                        .content.zoom.pointer
                                            a.header(href="/event/#{event_id}")
                                                |#{ticket_event.title}
                                            // |#{fac.shortname}
                                            |#{description}
                                            |{{med_date date}}
                                            |{{long_time time}}
                            |!{description}
                        .eight.wide.column
                            .ui.header 
                                +i name='calendar'
                                |user events
                            each user_events
                                .ui.segment
                                    .ui.small.header #{date} #{start_time}
                                    div
                                    +user_list_toggle key='read_by_ids' label='mark read' icon='eye'
                                    if can_edit
                                        +remove_button
                                    //- div
                                    +author_info
                                    +creation_info
                            .ui.segment
                                .ui.header.pointer.toggle_maybe
                                    i.question.orange.icon
                                    |maybe
                                // if session_is 'view_maybe'
                                each user_maybe_events
                                    .ui.segment
                                        a.ui.inline.header(href="/event/#{_id}") #{title} 
                                        .ui.small.inline.header #{date} #{start_time}
                                        +author_info
                                        +creation_info
                            .ui.segment
                                .ui.header.pointer
                                    i.checkmark.icon
                                    |went
                                // if session_is 'view_maybe'
                                each user_went_events
                                    .ui.segment
                                        a.ui.inline.header(href="/event/#{_id}") #{title} 
                                        .ui.small.inline.header #{date} #{start_time}
                                        +author_info
                                        +creation_info
                            .ui.segment
                                .ui.header.pointer
                                    i.green.checkmark.icon
                                    |going
                                // if session_is 'view_maybe'
                                each user_going_events
                                    .ui.segment
                                        a.ui.inline.header(href="/event/#{_id}") #{title} 
                                        .ui.small.inline.header #{date} #{start_time}
                                        +author_info
                                        +creation_info
                            .ui.segment
                                .ui.header.pointer
                                    i.chess.king.icon
                                    |hosted
                                // if session_is 'view_maybe'
                                each user_hosted_events
                                    .ui.segment
                                        a.ui.inline.header(href="/event/#{_id}") #{title} 
                                        .ui.small.inline.header #{date} #{start_time}
                                        +author_info
                                        +creation_info
                                            
                        .eight.wide.column
                            .ui.segment
                                .ui.header 
                                    // i.large.handshake.icon
                                    +i name='friends'
                                    |friends
                                // .ui.input
                                //     i.plus.icon
                                //     input.search_friend(type='text' placeholder='add by username...')
                                if is_current_user
                                    +multi_user_edit key='friend_ids' label='friends' direct=true
                                each friend_search_results
                                    .ui.header #{username}
                                each user_friends
                                    .item #{username}
                    
                                        
                                            
                           
template(name='profile_group_item')
    a.ui.card(href="/group/#{_id}")
        .image
            +image_view key='image_id' direct=true cl='zoom ui tiny image'
        .content
            .ui.header #{title}
            a.ui.small.header.inline.lowercase(href="/group/#{_id}/")
                |#{price_per_serving}c / #{serving_unit}
            .ui.small.inline.header #{when}
            a.ui.button(href="/group/#{_id}/")
                |view
                i.right.chevron.icon
            if is_admin
                +remove_button
                       
                                
                               
           